



.portfolio{
  border: 1px white;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 40px;
  box-shadow: 0 4px 16px rgba(244, 239, 239, 0.1);
}
.portfolio h2{
text-align: center;
margin-top: 20px;
color: #c1c1c2;
}
.portfolio h5{
text-align: center;
margin-top:20px;
color: #dddbdb;
}



















